@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:rgb(242, 242, 242);
}

header {
    background-color: rgb(225, 225, 225);
    color:rgb(56, 56, 56);
    padding: 0.5em;
    display: flex;
}

    .main_title {
        font-size: 0.6em;
    }

    .sous_title {
        padding: 0.2em;
        font-size: 0.6em;
        margin-left: 0.5em;
        display: flex;
    }

    a {
        color:rgb(56, 56, 56);
        text-decoration: none;
    }

    .txt_sous_nav {
        padding: 0.6em;
        font-size: 1.3em;
    }

.all_btn {
    display: flex;
    justify-content: center;
}

.bouton {
    padding: 1em;
    margin-right: 2em;
    display: flex;
    justify-content: flex-end;
}

    .btnBlack {
        font-size: 0.5em;
        padding: 0.7em;
        border-radius: 5%;
        background-color: rgb(49, 49, 49);
        color:white;
    }

    .btnWhite {
        font-size: 0.5em;
        padding: 0.7em;
        border-radius: 5%;
        background-color: white;
    }

article {
    padding: 1em;
    text-align: center;
    font-size: 1.3em
}



@media (min-width:600px) {

    header {
        background-color: rgb(225, 225, 225);
        color:rgb(56, 56, 56);
        padding: 0.7em;
        display: flex;
    }

        .main_title {
            font-size: 1.1em;
        }

        .sous_title {
            padding: 1em;
            font-size: 1em;
            margin-left: 3em;
        }

        .txt_sous_nav {
            padding: 0.9em;
            font-size: 1em;
        }

    .bouton {
        padding: 1em;
        margin-right: 2em;
    }
    
        .btnBlack {
            font-size: 0.8em;
        }
    
        .btnWhite {
            font-size: 0.8em;
        } 

    article {
        padding: 1em;
        text-align: center;
        font-size: 1.5em
    }

}



@media (min-width:1000px) {

    header {
        background-color: rgb(225, 225, 225);
        color:rgb(56, 56, 56);
        padding: 1em;
        display: flex;
    }

        .main_title {
            font-size: 1.3em;
        }

        .sous_title {
            padding: 1em;
            font-size: 1em;
            margin-left: 2em;
        }

        .txt_sous_nav {
            padding: 1em;
            font-size: 1.3em;
        }

    .all_btn {
        display: block;
    }

    .bouton {
        padding: 1em;
        margin-right: 2em;
    }

        .btnBlack {
            font-size: 0.9em;
        }

        .btnWhite {
            font-size: 0.9em;
        }

    article {
        padding: 2em;
        font-size: 2em
    }

}